.App {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  padding: 2em;
  text-align: center;
  background-color: lightblue;
  width: 50%;
}

ul {
  overflow: hidden;
}

li {
  display: inline;
}

li:nth-child(15):before {
  display: block;
  content: '';
}

.hidden {
  display: inline;
}

.all {
  margin: 0.5em;
}

.marginWord {
  margin: 0.5em;
}

.boldWord {
  font-weight: bold;
}

button {
  border-radius: 4px
}